<main>
    <!-- Hero Section -->
    {{ collection:hero title:is="Home Hero" limit="1" }}
    {{ partial:hero main="true" }}
    {{ /collection:hero }}

    <!-- Company Overview -->
    {{ collection:articles slug:is="company-overview" limit="1" }}
    {{ partial:image-text-section image_position="right" eyebrow="Company Overview" }}
    {{ /collection:articles }}

    <!-- History & Growth -->
    {{ collection:articles slug:is="history-growth" limit="1" }}
    {{ partial:image-text-section image_position="left" eyebrow="About Us" }}
    {{ /collection:articles }}

    <!-- Our Global Partners -->
    {{ partial:partners }}

    <!-- Latest Blog Posts Section -->
    {{ partial:blog }}

    <!-- CTA -->
    {{ collection:cta title:is="Explore Services" }}
    {{ partial:cta }}
    {{ /collection:cta }}

    {{ partial:contact/contact-form }}
</main>