<main>
    {{ partial:banner }}
    {{ collection:hero title:is="Home Hero" limit="1" }}
    {{ partial:hero main="true" }}
    {{ /collection:hero }}

    <!-- Mission Section -->
    {{ collection:articles }}
    {{ partial:article  order="{{ index % 2 == 0 ? 'image-first' : 'text-first' }}"}}
    {{ /collection:articles }}

    <!-- services -->
    {{ collection:services }}
    {{ partial:featured-services order="{{ index % 2 == 0 ? 'image-first' : 'text-first' }}" }}
    {{ /collection:services }}

    <!-- Trusted Businesses -->
    {{ collection:grids title:is="Trusted Businesses" }}
    {{ partial:grids }}
    {{ /collection:grids }}

    <!-- Partners -->
    {{ partial:partners }}

    <!-- CTA -->
    {{ collection:cta title:is="Explore Services" }}
    {{ partial:cta }}
    {{ /collection:cta }}
</main>