{{ collection:banner limit="1" }}
<section class="bg-{{ color }}-600 border-{{ color }}-500 py-3 md:py-1 text-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row items-center justify-center gap-4 md:gap-3">
            <!-- Icon and Title Group -->
            <div class="flex items-center gap-3 md:gap-2">
                <i class="{{ icon }}"></i>
                <h4 class="font-semibold text-sm">{{ title }}</h4>
            </div>
                        
            <!-- Description -->
            <p class="text-center text-sm max-w-md">
                {{ description }}
            </p>
        </div>
    </div>
</section>
{{ /collection:banner }}