<main>
    <!-- Hero Section -->
    {{ collection:hero title:is="About Us Hero" limit="1" }}
    {{ partial:hero }}
    {{ /collection:hero }}

    <!-- About Us Collection Items -->

    {{ collection:articles slug:is="initiative" limit="1" }}
    {{ partial:image-text-section image_position="right" eyebrow="{{ title }}" }}
    {{ /collection:articles }}
    
    {{ collection:articles slug:is="the-economic-relevance" limit="1" }}
    {{ partial:image-text-section image_position="left" eyebrow="The Relevance" bg_color="bg-gray-50" }}
    {{ /collection:articles }}

    {{ collection:articles slug:is="organized-by" limit="1" }}
    {{ partial:image-text-section image_position="right" }}
    {{ /collection:articles }}
    
    {{ partial:partners }}

    <!-- Call to Action -->
    {{ collection:cta title:is="Explore Services" }}
    {{ partial:cta }}
    {{ /collection:cta }}
</main>