<main>
    <!-- Hero Section -->
    {{ collection:hero title:is="Opportunity Hero" limit="1" }}
    {{ partial:hero }}
    {{ /collection:hero }}

    <!-- About Us Collection Items -->
    
    {{ collection:articles slug:is="the-opportunities" limit="1" }}
    {{ partial:image-text-section image_position="left" }}
    {{ /collection:articles }}

    {{# Call to Action #}}
    {{# {{ collection:cta title:is="Explore Services" }} #}}
    {{# {{ partial:cta }} #}}
    {{# {{ /collection:cta }} #}}
</main>